<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update book</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBook_id()})}" th:object="${book}">
<!--    <label for="pers_id">Enter pers_id: </label>-->
<!--    <input type="text" th:field="*{pers_id}" id="pers_id"/>-->
<!--    <div style="color: red" th:if="${#fields.hasErrors('pers_id')}" th:errors="*{pers_id}">pers_id error!</div>-->
<!--    <br/>-->

    <label for="title">Введите название: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title error!</div>
    <br/>

    <label for="author">Введите автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">author error!</div>
    <br/>

    <label for="yearPublic">Введите год публикации: </label>
    <input type="text" th:field="*{yearPublic}" id="yearPublic"/>
    <div style="color: red" th:if="${#fields.hasErrors('yearPublic')}" th:errors="*{yearPublic}">year_public error!</div>
    <br/>

    <input type="submit" value="Редактировать!"/>
</form>

</body>
</html>