<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:action="@{/books}" method="get"> <!-- Форма для сортировки книг -->
    <label for="sort">Сортировка по году публикации:</label>
    <select name="sort" id="sort">
        <option value="asc">По возрастанию</option>
        <option value="desc">По убыванию</option>
    </select>
<!--    <button type="submit">Сортировать</button>-->
<br/>

<label for="pageSize">Количество книг на странице:</label>
<select name="pageSize" id="pageSize">
    <option th:each="n : ${#numbers.sequence(1, 10)}" th:value="${n}" th:text="${n}"></option>
</select>

<button type="submit">Применить</button>
</form>
<br/>


<!-- Пагинация -->
<div th:if="${pagedBooks.totalPages > 1}">
    <div>
        <span th:if="${pagedBooks.number > 0}">
            <a th:href="@{'?page=' + (pagedBooks.number - 1) + '&size=' + pagedBooks.size}">Предыдущая</a>
        </span>

        <span th:each="i : ${#numbers.sequence(0, pagedBooks.totalPages - 1)}">
            <span th:if="${pagedBooks.number == i}"><b th:text="${i + 1}"></b></span>
            <a th:unless="${pagedBooks.number == i}" th:href="@{'?page=' + i + '&size=' + pagedBooks.size}" th:text="${i + 1}"></a>
        </span>

        <span th:if="${pagedBooks.number + 1 < pagedBooks.totalPages}">
            <a th:href="@{'?page=' + (pagedBooks.number + 1) + '&size=' + pagedBooks.size}">Следующая</a>
        </span>
    </div>
</div>






<div th:each="book : ${books}"> <!-- Итерация по книгам -->
    <a th:href="@{/books/{id}(id=${book.getBook_id()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor() + ', '+ book.getYearPublic()}">book</a>
    <p></p>
</div>

<br/>
<hr/>

<a href="/books/new">Создать новую книгу</a>

</body>
</html>
