<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:action="@{/books}" method="get"> <!-- Форма для сортировки книг -->
    <label for="sort">Сортировка по году публикации:</label>
    <select name="sort" id="sort">
        <option value="asc">По возрастанию</option>
        <option value="desc">По убыванию</option>
    </select>

    <br/>

    <label for="pageSize">Количество книг на странице:</label>
    <select name="pageSize" id="pageSize">
        <option th:each="n : ${#numbers.sequence(1, 10)}"
                th:value="${n}"
                th:text="${n}"
                th:selected="${n == 10}">
        </option>
    </select>


    <!-- Добавляем поле для указания номера страницы -->
    <input type="text" name="page" placeholder="Номер страницы" />

    <button type="submit">Применить</button>
</form>

<br/>

<!-- Пагинация -->
    <div th:each="book : ${bookPage}">
        <a th:href="@{/books/{id}(id=${book.getBook_id()})}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', '+ book.getYearPublic()}">book</a>
        <p></p>
    </div>

    <div th:if="${bookPage.totalPages > 1}" class="pagination">
        <span th:each="pageNumber : ${pageNumbers}"
              style="display: inline-block; margin-right: 5px;">
               <a th:href="@{/books(sort=${sort}, pageSize=${bookPage.size}, page=${pageNumber})}"
               th:text="${pageNumber}"
               th:class="${pageNumber==bookPage.number + 1} ? 'active' : ''"></a>
        </span>
    </div>

    <div th:each="book : ${bookList}"> <!-- Итерация по книгам -->
        <a th:href="@{/books/{id}(id=${book.getBook_id()})}"
           th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearPublic()}">book</a>
        <p></p>
    </div>

<br/>
<hr/>

<a href="/books/new">Создать новую книгу</a>

</body>
</html>
