<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<form th:action="@{/books}" method="get"> <!-- Форма для сортировки книг -->
    <label for="sort">Сортировка по году публикации:</label>
    <select name="sort" id="sort">
        <option value="asc">По возрастанию</option>
        <option value="desc">По убыванию</option>
    </select>
    <button type="submit">Сортировать</button>
</form>
<br/>

<div th:each="book : ${books}"> <!-- Итерация по книгам -->
    <a th:href="@{/books/{id}(id=${book.getBook_id()})}"
       th:text="${book.getTitle() + ', ' + book.getAuthor() + ', '+ book.getYear_public()}">book</a>
    <p></p>
</div>

<br/>
<hr/>

<a href="/books/new">Создать новую книгу</a>

</body>
</html>
