<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>Search Book</title>
</head>
<body>

<form th:action="@{/books/search}" method="get">
    <label for="bookTitle">Введите название книги:</label>
    <input type="text" id="bookTitle" name="bookTitle">
    <button type="submit">Искать</button>
</form>

<!-- Вывод списка книг из модели searchBook -->
<div>
    <h2>Список найденных книг:</h2>
    <ul>
        <li th:each="book : ${searchBook}" th:if="${not #lists.isEmpty(searchBook)}">
            <p th:text="${book.getTitle() + ' ' + book.getAuthor() + ' ' + book.getYear_public() }"></p>
            </p>
            <p th:if="${book.getOwner() != null}">Книга сейчас у: <span th:text="${book.getOwner().getFio()}"></span></p>
            <p th:unless="${book.getOwner() != null}">Книга свободна</p>
        </li>
        <li th:if="${#lists.isEmpty(searchBook)}">Нет найденных книг</li>
    </ul>
</div>

</body>
</html>